/* General styles */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    font-family: 'Indie Flower', cursive; /* Set default font for the entire document */
    
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #656e33;
    color: #f0ede2;
    padding: 10px 20px;
    position: fixed; 
    width: 100%;
    z-index: 10; 
}

/* Navbar links styling */
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #f0ede2;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #a2b387;
}

/* Toggle button styling for responsiveness */
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f0ede2;
    border-radius: 10px;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #656e33; 
        position: absolute; 
        top: 60px; 
        left: 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
}

/* Background video container styles */
.video-background-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: 1; 
}

/* Title styles */
.title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0ede2;
    text-align: center;
    z-index: 2; 
}

.title-overlay h1 {
    font-size: 4rem; 
    margin: 0;
    padding: 15px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .title-overlay h1 {
        font-size: 3rem; /* Adjusted size for tablets */
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .title-overlay h1 {
        font-size: 2rem; /* Adjusted size for mobile devices */
        padding: 8px; 
    }
}

